form {
    background: #3f3f3f;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

mat-card {
    z-index: 0;
    width: 400px;
    height: 350px;
    padding: 80px 20px 0px 20px;
    text-align: center;
    border: 8px solid #263238;
    outline: 4px solid #FF6D00;
    background: #546E7A;
}

img {
    width: 140px;
    height: 140px;
    display: inline-block;
    position: relative;
    top: -214px;
    left: 293px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1 {
    font-size: 3em;
    margin: 15px 0;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

mat-card-header {
    text-align:  center;
    display: inline-block;
}

mat-form-field {
    width: 100%;
    margin-bottom: 10px;
    color: white;
}

::placeholder, mat-label {
    color: rgb(167, 163, 163);
}

button {
    width: 75%;
    margin-bottom: 10px;
}

mat-card-footer {
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 450px) {
    mat-card {
        max-width: 300px;
        position: relative;
        top: 175px;
        left: 40px;
    }
}